body{
    background-color:cadetblue;
}
span.desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
span.direction{
    color: #cc0000;
    font-size: 17px;
    font-style: italic;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}
span.direction:hover{
    background-color: gray;
    color: white;

}

.speech {
    font-size: 12px;
    font-style: italic;
    color: blue;
    font-family: "Times New Roman";
  }
  
  .direction {
    font-size: 17px;
    font-style: italic;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
  }
  
  .name {
    font-size: 17px;
    font-style: italic;
    color: black;
    font-family: "Times New Roman";
    width: fit-content;
  }

  .name:hover{text-shadow:2px 3px 5px green;border: solid 2px ;}

  .PERNELLE{
    color:blueviolet;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.ELMIRE{
    color: yellowgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.CLITANDRE{
    color: rgb(54, 10, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table { border: solid 3px rgb(55, 13, 94);}
th {border: solid 1px ;text-align: center;padding-left: 50px;margin: 100px 13em 15pt 10%;background-color:#55e4ad}
td{border: solid 1px ;text-align: center;padding-left: 50px;margin: 100px 13em 15pt 10%;}
tr:nth-child(even) {background-color: rgb(49, 203, 214);}
tr:nth-child(odd) {background-color: #a9f1eb;}

div{
    background-color: beige;
}